@media only screen and (min-width: 720px){

.flexboxMain{
	display: flex;
	flex-flow: column;
	align-items: center;
	flex-wrap: nowrap;
}

.flexboxLower{
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.chartBarContainer {
  position: relative;
  margin: auto;
  height: auto;
  width: 48%;
}

.chartEen{
	max-width: 950px;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.flexboxLower{
	max-width: 950px;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.containerContainer{
	display: flex;
	flex-flow: row;
	justify-content: center;
}


}



/* oude code die ik heb gebruikt die niet werkte, maar toch laat staan voor iteratie.
#telefoonFlexbox{
	width: 100%;
	flex-flow: row;
}

.widthChart2{
	width: 80%;
}


}*/